<div class="container">
<h2 class="text-center pt-4">Sobre nós</h2>
  <hr class="center-hr">
  <div class="center-hr">
    <p>
      <b>A LF SPORT - GESTÃO DESPORTIVA LDA</b>,
      é uma empresa de direito angolano dedicada na
      <u>gestão de carreiras de profissionais desportistas.</u>
    </p>
    <p>
      Somos uma empresa jovem e dinâmica  que trabalha todos os dias na busca das melhores soluções para os seus parceiros, sempre de forma séria, credível e responsável.
    </p>
    <p>
      A nossa experiência em gestão empresarial e seus derivados permite-nos encontrar soluções para o vosso clube, e para os vossos atletas, a partir do nosso produto denominado <u>"gestão de carreira integrada de atletas"</u> bem como na busca de soluções para a vossa instituição na captação, análise e desenvolvimento (scouting) de atletas e treinadores.
    </p>
    <p>Pretendemos trabalhar com atletas e treinadores de diferentes modalidades desportivas, pretendemos trazer no mercado uma solução diferenciada de gestão de carreiras desportivas, através de soluções modernas, como:</p>
    <ul>
      <li>Planeamento Financeiro</li>
      <li>Gestão Familiar</li>
      <li>Assessoria Fiscal e Jurídica</li>
      <li>Gestão Patrimonial</li>
    </ul>
    <p>Acompanhamentos pormenorizados, de todas as facetas dos atletas e treinadores, desde as componentes desportivas, sociais e financeiras, bem como a apresentação de soluções de investimentos e poupanças, porque defendemos que á vida após o término da carreira profissional desportiva.</p>
    <p>O nosso lema é parceria, e através dessa parceria efectiva gerar uma relação de proximidade e confiança com os nossos parceiros para uma relação profícua e duradoura. </p>
  </div>
</div>
