/* You can add global styles to this file, and also import other style files */

*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  text-underline: none;
  color: black;
}

a:hover{
  background-color: #34A625;
  border-radius: 5px;
}

.verde-claro{
  background-color: #49D237;
}

.verde-escuro{
  background-color: #34A625;
}

.center-hr {
  margin-left: auto;
  margin-right: auto;
  width: 50%; /* ajuste o valor conforme necessário */
}

.form-group{
  width: 65vh;
}

.list-group-item{
  width: 100vh;
}
