<!-- app.component.html -->
<footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <!-- Coluna 1 -->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a [routerLink]="['']" class="text-dark">Início</a>
          </li>
          <li>
            <a [routerLink]="['intermediacoes']" class="text-dark"><span>Intermediações</span></a>
          </li>
          <li>
            <a [routerLink]="['jogadores']" class="text-dark"><span>Jogadores</span></a>
          </li>
          <li>
            <a [routerLink]="['sobre']" class="text-dark">Sobre Nós</a>
          </li>
          <li>
            <a [routerLink]="['treinadores']" class="text-dark"><span>Treinadores</span></a>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contactos</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <span>geral.lfsport</span>
          </li>
          <li>
            <span>923762662</span>
          </li>
          <li>
            <span>923506319</span>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Redes Sociais</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://www.instagram.com/lfsport.ao/" class="text-dark">Facebook</a>
          </li>
          <li>
            <a href="https://www.instagram.com/lfsport.ao/" class="text-dark">Instagram</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    ©<span (click)="login()"> 2024 </span>Copyright:
    <a class="text-dark" href="https://lfsport.ao/">LFSPORT</a>
  </div>
</footer>
