<!-- app.component.html -->
<div class="container mt-5">
  <h2 class="text-center">Intermediações</h2>
  <div class="row p-2 m-4 justify-content-center align-items-center">
    <div class="col-lg-4">
      <button class="btn btn-outline-info">2024</button>
      <button class="btn btn-outline-info">2024</button>
      <button class="btn btn-outline-info">2024</button>
      <button class="btn btn-outline-info">2024</button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-4 text-center p-2" *ngFor="let item of items">
      <img src="assets/acao-do-jogador-de-futebol-no-estadio.jpg" alt="imagem" class="img-fluid">
      <h3>{{ item }}</h3>
    </div>
  </div>
</div>

