<div class="container">
  <h2 class="text-center">Jogadores</h2>
  <div class="row">
    <div class="col-lg-4 text-center p-2" *ngFor="let jogador of jogadores">
      <div class="card">
        <div class="card-img imagemJogador">
          <img src="assets/acao-do-jogador-de-futebol-no-estadio.jpg">
        </div>
        <div class="card-body">
          <div class="card-header">António Ngola</div>
          <div>Manchester United</div>
          <div>Ponta de lança esquerdo</div>
          <div><a [routerLink]="[id]">Ver mais</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
