<div class="text-center p-3">
  <div class="imagemJogador">
    <img ngSrc="../public/Média.jpg">
  </div>
  <div>António Ngola</div>
  <div>Manchester United</div>
  <div>Ponta de lança esquerdo</div>
  <div><a [routerLink]="[id]">Ver mais</a></div>
</div>

<div class="text-center p-3">
  <div class="imagemJogador">
    <img ngSrc="../public/Média.jpg">
  </div>
  <div>António Ngola</div>
  <div>Manchester United</div>
  <div>Ponta de lança esquerdo</div>
  <div><a [routerLink]="[id]">Ver mais</a></div>
</div>

<div class="text-center p-3">
  <div class="imagemJogador">
    <img ngSrc="../public/Média.jpg">
  </div>
  <div>António Ngola</div>
  <div>Manchester United</div>
  <div>Ponta de lança esquerdo</div>
  <div><a [routerLink]="[id]">Ver mais</a></div>
</div>

<div class="text-center p-3">
  <div class="imagemJogador">
    <img ngSrc="../public/Média.jpg">
  </div>
  <div>António Ngola</div>
  <div>Manchester United</div>
  <div>Ponta de lança esquerdo</div>
  <div><a [routerLink]="[id]">Ver mais</a></div>
</div>

<div class="text-center p-3">
  <div class="imagemJogador">
    <img ngSrc="../public/Média.jpg">
  </div>
  <div>António Ngola</div>
  <div>Manchester United</div>
  <div>Ponta de lança esquerdo</div>
  <div><a [routerLink]="[id]">Ver mais</a></div>
</div>

<div class="text-center p-3">
  <div class="imagemJogador">
    <img ngSrc="../public/Média.jpg">
  </div>
  <div>António Ngola</div>
  <div>Manchester United</div>
  <div>Ponta de lança esquerdo</div>
  <div><a [routerLink]="[id]">Ver mais</a></div>
</div>

<div class="text-center p-3">
  <div class="imagemJogador">
    <img ngSrc="../public/Média.jpg">
  </div>
  <div>António Ngola</div>
  <div>Manchester United</div>
  <div>Ponta de lança esquerdo</div>
  <div><a [routerLink]="[id]">Ver mais</a></div>
</div>

<div class="text-center p-3">
  <div class="imagemJogador">
    <img ngSrc="../public/Média.jpg">
  </div>
  <div>António Ngola</div>
  <div>Manchester United</div>
  <div>Ponta de lança esquerdo</div>
  <div><a [routerLink]="[id]">Ver mais</a></div>
</div>
